<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Button types</title>
    <link rel="stylesheet" href="index.css" />
  </head>
  <body>
    <section>
      <h1>9 Button types</h1>
    </section>
    <article>
      <button>Default</button>
      <input type="button" />
      <button>
        <svg
          viewBox="0 0 24 24"
          stroke="currentColor"
          width="24"
          height="24"
          aria-hidden="true"
        >
          <path
            d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z"
          />
        </svg>
        Icon
      </button>
      <button type="submit">Submit</button>
      <button type="button">Button</button>
      <button type="reset">Reset</button>
      <button disabled>Disabled</button>
      <button class="btn-custom">Custom</button>
      <input type="file" />
    </article>
    <section>
      <h1>9 button types tested inside form</h1>
    </section>
    <article>
      <form>
        <button>Default</button>
        <input type="button" />
        <button>
          <svg
            viewBox="0 0 24 24"
            stroke="currentColor"
            width="24"
            height="24"
            aria-hidden="true"
          >
            <path
              d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z"
            />
          </svg>
          Icon
        </button>
        <button type="submit">Submit</button>
        <button type="button">Button</button>
        <button type="reset">Reset</button>
        <button disabled>Disabled</button>
        <button class="btn-custom btn-large" type="button">Large Custom</button>
        <input type="file" />
      </form>
    </article>
  </body>
</html>
