@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  overflow: hidden;
}

nav {
  height: 70px;
  padding: 15px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  box-sizing: border-box;
  box-shadow: 5px 5px 10px grey;
  z-index: 1;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  /* flex-direction: row; */
}

.nav__routes {
  display: flex;
  gap: 15px;
  justify-content: space-between;
}
nav ul li {
  list-style: none;
}

.product__page {
  display: flex;
  justify-content: space-between;
  height: 100vh;
  margin: 30px auto;
  position: relative;
  top: 60px;
  overflow: auto;
}
.filters__container {
  /* background-color: aqua; */
  flex: 1;
}
.products__container {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 30px;
  margin: 10px;
  /* background-color: bisque; */
  overflow: scroll;
  border: 1px solid;
  border-radius: 10px;
}

.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  border: 1px solid #d8dfdb;
  border-radius: 5%;
  gap: 5px;
}

.product-card img {
  object-fit: contain;
  padding: 5px;
  transition: transform 0.2s;
  opacity: 0.8;
}

.product-card img:hover {
  transform: scale(1.2);
  opacity: 1;
}

.product-info-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  padding: 5px;
  width: 100%;
}

.product-info-container span {
  color: #5d6c64;
}

.product-info-container button {
  width: 100%;
  border: none;
  padding: 5px;
  background-color: green;
  color: white;
  cursor: pointer;
  transition: transform(0.2s);
}

.product-card button:hover {
  transform: scale(1.1);
}

#cart__container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 30px;
  border: 1px solid;
  border-radius: 10px;
  flex: 1;
  overflow: scroll;
  padding: 5px;
  align-items: center;
  margin: 5px;
}

.cart__info {
  display: flex;
  gap: 10px;
  color: blue;
}
