* {
  margin: 0;
  padding: 0;
}
.products__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 30px;
  margin: 10px auto;
  border: 1px solid;
}

.product-card {
  border: 1px solid;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-info-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  padding: 5px;
}

.product-card img {
  object-fit: contain;
  padding: 5px;
}
.product-card button {
  width: 100%;
}
